@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

:root {
--bg-blue-gradient: linear-gradient(
    157.81deg,
    #005397 0.89%,
    #bfbfbf 17.23%,
    #98a2b3 42.04%,
    #2d2c2c 55.12%,
    #183d5a 71.54%,
    #005397 100%
  );
  --card-shadow: 0px 20px 100px -10px rgba(147, 161, 216, 0.1);
}

.bg-blue-gradient {
  background: var(--bg-blue-gradient);
}

* {
  scroll-behavior: smooth;
}

.small-shadow {
  box-shadow: 0px 1px 2px 0px #3519173B;
}

.medium-shadow {
  box-shadow: 0px 4px 4px 0px #1E0E0C42;
}

.large-shadow {
  box-shadow: 0px 6px 6px 0px #1E0E0C47;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}
@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
 
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
